project-resources-integration/src/main/resources/wsdl/Employee_svc.wsdl

<wsdl:definitions name="RLServiceInstance"
                  targetNamespace="http://webservice.resourcelinkservice.northgatearinso.com/notifications/employee"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://webservice.resourcelinkservice.northgatearinso.com/notifications/employee"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        >
    <wsdl:documentation>
        <CreationInfo Created="2010-04-21 11:42:50Z"/>
    </wsdl:documentation>
    <wsdl:types>
        <xsd:schema targetNamespace="http://webservice.resourcelinkservice.northgatearinso.com/notifications/employee/Imports">
            <xsd:import schemaLocation="Employee_svc.xsd"
                        namespace="http://webservice.resourcelinkservice.northgatearinso.com"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="Employee_Ensure_InputMessage">
        <wsdl:part name="part"
                   element="q1:employeeNotifications"
                   xmlns:q1="http://webservice.resourcelinkservice.northgatearinso.com"/>
    </wsdl:message>
    <wsdl:message name="Employee_Ensure_OutputMessage"/>
    <wsdl:message name="Employee_Close_InputMessage">
        <wsdl:part name="part"
                   element="q2:employeeNotifications"
                   xmlns:q2="http://webservice.resourcelinkservice.northgatearinso.com"/>
    </wsdl:message>
    <wsdl:message name="Employee_Close_OutputMessage"/>
    <wsdl:portType name="Employee">
        <wsdl:documentation/>
        <wsdl:operation name="Ensure">
            <wsdl:documentation/>
            <wsdl:input message="tns:Employee_Ensure_InputMessage"/>
            <wsdl:output message="tns:Employee_Ensure_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="Close">
            <wsdl:documentation/>
            <wsdl:input message="tns:Employee_Close_InputMessage"/>
            <wsdl:output message="tns:Employee_Close_OutputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="RLServiceBindingPort" type="tns:Employee">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Ensure">
            <wsdl:documentation/>
            <soap:operation soapAction="Ensure" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Close">
            <wsdl:documentation/>
            <soap:operation soapAction="Close" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RLServiceInstance">
        <wsdl:port name="RLServiceBindingPort" binding="tns:RLServiceBindingPort">
            <soap:address location="http://localhost:58088/mockBasicBindingEmployee"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
